*{
    margin: 0px;
    padding:0px;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
    transition: ease-in 1s;
}
header
{
    height: 80px;
    /* background: red; */
    line-height: 50%;
    padding: 35px 50px;
}
.main
{
    color: aliceblue;
    display: flex;
    justify-content: space-between; 
}
.logo
{
    font-size:30px;
    font-style: italic;
}

.nav-bar
{
    display: flex;
    list-style: none;
    gap: 2rem;
    /* u coudl use gap:cm/px/rem*/
}
.nav-bar li a
{
    font-weight: 900;
    text-decoration: none;
    color: #f0f8ff;
    font-size:20px;
}
.nav-bar li a::after
{
    position: relative;
    content:"";
    display: block;
    background: rgb(169, 169, 228);
    width: 0;
    bottom:-5px;
    height: 3px;
    transition:ease-in 0.70s;
}
.nav-bar li a:hover::after
{
    width: 80%;
    color: rgb(169, 169, 228);
}
.nav-bar li a:hover
{
    color: rgb(169, 169, 228);
    transition:ease-in-out 0.70s;

}
.levels ul
{
    text-align: justify;
    list-style: none;
}
.about
{
    border:solid black;
    margin:250px 50px;
    border-radius: 30px; 
    padding: 40px 50px;
    position: relative;
}
#menu
{
    display: none;
}
body
{
    background: url(../images/landscape_257156.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.home
{
    margin: 200px 100px;
    color:aliceblue;
}

footer{
    background:  rgb(226, 115, 115);
    padding: 50px 0px 30px 0px;
}
.lastElement
{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.row{
    display: flex;
}
.dropDown
{
    display: none;

}
.dropDown li a 
{
    line-height: 30px;
    color: white;
    font-size: 15px;
}
@media(max-width:990px)
{
    .nav-bar li a
    {
        font-size:18px;
    }
}
@media(max-width:770px){
    .row{
        display: flex;
        flex-direction: column;
    }
    .about
    {
        border-style:none
    }
}
@media(max-width:690px)
{
    .nav-bar
    {
        display: none;
    }
    .home  
    {
        margin:50px;
    }
    .home h1,h2,p
    {
        font-size: 20px;
    }
    #menu 
    {
        display: block;
        font-size: 30px;
    }
    /* .dropDown 
    {
        padding:8px;
        border-radius: 10px;
        display:grid
    }
    */
} 
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.footer-col h4::after{
    position: absolute;
    content: '';
    width:0;
    background:  rgba(236, 20, 20, 0.527) ;
    bottom: -3px;
    height: 5px;
    box-sizing: border-box;
    left: 0;
}
.footer-col h4:hover::after{
    width: 80px;
    cursor: pointer;
    transition: ease .40s;
}
.footer-col li a{
    color:black;
    font-size: 18px;
    display: block;
    padding-bottom: 6px;
}
.footer-col li a:hover{
    padding-left: 10px;
    transition: ease .60s;
    color:white
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #212f3c;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 3px 0 3px;
}
.footer-col .social-links a:hover{
    color:black;
    background:  #95c5bd ;
}
