/* [project]/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}

input:where([type="button"]) {
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}

input:where([type="reset"]) {
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}

input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.right-\[0\] {
  right: 0;
}

.right-\[50px\] {
  right: 50px;
}

.top-0 {
  top: 0;
}

.top-\[50px\] {
  top: 50px;
}

.top-\[55px\] {
  top: 55px;
}

.z-\[1001\] {
  z-index: 1001;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[100px\] {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-\[10px\] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-\[50px\] {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.mb-\[5px\] {
  margin-bottom: 5px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[80px\] {
  margin-top: 80px;
}

.mt-\[9px\] {
  margin-top: 9px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[330px\] {
  height: 330px;
}

.h-\[350px\] {
  height: 350px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[95vh\] {
  height: 95vh;
}

.w-1\/2 {
  width: 50%;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[100vw\] {
  width: 100vw;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[330px\] {
  width: 330px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[500px\] {
  width: 500px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[75\%\] {
  width: 75%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[90\%\] {
  width: 90%;
}

.grow {
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.list-disc {
  list-style-type: disc;
}

.list-none {
  list-style-type: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.gap-x-4 {
  column-gap: 1rem;
}

.gap-x-\[200px\] {
  column-gap: 200px;
}

.gap-x-\[30px\] {
  column-gap: 30px;
}

.gap-x-\[60px\] {
  column-gap: 60px;
}

.gap-y-\[20px\] {
  row-gap: 20px;
}

.gap-y-\[30px\] {
  row-gap: 30px;
}

.gap-y-\[50px\] {
  row-gap: 50px;
}

.space-y-\[80px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(80px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(80px * var(--tw-space-y-reverse));
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded-\[100\%\] {
  border-radius: 100%;
}

.rounded-\[25px\] {
  border-radius: 25px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: .375rem;
}

.border-2 {
  border-width: 2px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity, 1));
}

.border-sky-200 {
  --tw-border-opacity: 1;
  border-color: rgba(186, 230, 253, var(--tw-border-opacity, 1));
}

.border-sky-300 {
  --tw-border-opacity: 1;
  border-color: rgba(125, 211, 252, var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity, 1));
}

.bg-\[\#475569\] {
  --tw-bg-opacity: 1;
  background-color: rgba(71, 85, 105, var(--tw-bg-opacity, 1));
}

.bg-\[\#75b98e\] {
  --tw-bg-opacity: 1;
  background-color: rgba(117, 185, 142, var(--tw-bg-opacity, 1));
}

.bg-\[rgba\(14\,164\,233\,0\.34\)\] {
  background-color: rgba(14, 164, 233, .34);
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(34, 197, 94, var(--tw-bg-opacity, 1));
}

.bg-sky-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(14, 165, 233, var(--tw-bg-opacity, 1));
}

.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(148, 163, 184, var(--tw-bg-opacity, 1));
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(100, 116, 139, var(--tw-bg-opacity, 1));
}

.bg-slate-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(30, 41, 59, var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
}

.bg-gradient-to-tl {
  background-image: linear-gradient(to top left, var(--tw-gradient-stops));
}

.from-\[rgb\(93\,109\,126\)\] {
  --tw-gradient-from: #5d6d7e var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(93, 109, 126, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[rgb\(33\,47\,60\)\] {
  --tw-gradient-to: #212f3c var(--tw-gradient-to-position);
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[50px\] {
  padding: 50px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[3px\] {
  padding-left: 3px;
  padding-right: 3px;
}

.px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px;
}

.px-\[5px\] {
  padding-left: 5px;
  padding-right: 5px;
}

.py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[2\.5px\] {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[22px\] {
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-\[3\.5px\] {
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

.py-\[70px\] {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pl-\[15px\] {
  padding-left: 15px;
}

.pl-\[17px\] {
  padding-left: 17px;
}

.pl-\[20px\] {
  padding-left: 20px;
}

.pl-\[5px\] {
  padding-left: 5px;
}

.pr-0 {
  padding-right: 0;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[33px\] {
  font-size: 33px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[60px\] {
  font-size: 60px;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.text-\[\#5d6d7e\] {
  --tw-text-opacity: 1;
  color: rgba(93, 109, 126, var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity, 1));
}

.shadow-\[0px_0px_10px_black\] {
  --tw-shadow: 0px 0px 10px black;
  --tw-shadow-colored: 0px 0px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.shadow-\[0px_0px_5px_\#2e4053\] {
  --tw-shadow: 0px 0px 5px #2e4053;
  --tw-shadow-colored: 0px 0px 5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.shadow-\[0px_0px_5px_black\] {
  --tw-shadow: 0px 0px 5px black;
  --tw-shadow-colored: 0px 0px 5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.outline-none {
  outline-offset: 2px;
  outline: 2px solid rgba(0, 0, 0, 0);
}

.duration-\[2\] {
  transition-duration: 2;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 774px) {
  .container {
    max-width: 774px;
  }
}

@media (min-width: 1099px) {
  .container {
    max-width: 1099px;
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1250px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

body:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity, 1));
}

.projectComponent:hover {
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
  transform: scale(.9);
}

.dot {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity, 1));
  border-radius: 100%;
  width: 5px;
  height: 5px;
  display: inline-block;
}

.dot:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
}

.tech-icon {
  box-shadow: 0 0 5px #fff;
}

.hover\:scale-\[1\.1\]:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[1\.4\]:hover {
  --tw-scale-x: 1.4;
  --tw-scale-y: 1.4;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-2:hover {
  border-width: 2px;
}

.hover\:border-slate-950:hover {
  --tw-border-opacity: 1;
  border-color: rgba(2, 6, 23, var(--tw-border-opacity, 1));
}

.hover\:bg-black:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity, 1));
}

.hover\:bg-green-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(22, 163, 74, var(--tw-bg-opacity, 1));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
}

.hover\:pl-\[5px\]:hover {
  padding-left: 5px;
}

.hover\:text-black:hover {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity, 1));
}

.dark\:border-none:is(.dark *) {
  border-style: none;
}

.dark\:border-white:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity, 1));
}

.dark\:bg-black:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity, 1));
}

.dark\:bg-sky-500:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(14, 165, 233, var(--tw-bg-opacity, 1));
}

.dark\:bg-slate-500:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(100, 116, 139, var(--tw-bg-opacity, 1));
}

.dark\:bg-slate-600:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(71, 85, 105, var(--tw-bg-opacity, 1));
}

.dark\:text-white:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity, 1));
}

.dark\:hover\:text-white:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity, 1));
}

@media not all and (min-width: 1099px) {
  .max-lg\:text-\[18px\] {
    font-size: 18px;
  }
}

@media (max-width: 936px) {
  .max-\[936px\]\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 908px) {
  .max-\[908px\]\:justify-center {
    justify-content: center;
  }
}

@media (max-width: 778px) {
  .max-\[778px\]\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media not all and (min-width: 774px) {
  .max-md\:block {
    display: block;
  }

  .max-md\:hidden {
    display: none;
  }

  .max-md\:text-\[17px\] {
    font-size: 17px;
  }

  .max-md\:text-\[18px\] {
    font-size: 18px;
  }

  .max-md\:text-\[27px\] {
    font-size: 27px;
  }
}

@media (max-width: 750px) {
  .max-\[750px\]\:w-\[300px\] {
    width: 300px;
  }
}

@media (max-width: 740px) {
  .max-\[740px\]\:px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 732px) {
  .max-\[732px\]\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:w-\[100px\] {
    width: 100px;
  }

  .max-sm\:flex-col {
    flex-direction: column;
  }

  .max-sm\:items-center {
    align-items: center;
  }

  .max-sm\:gap-y-\[10px\] {
    row-gap: 10px;
  }

  .max-sm\:gap-y-\[20px\] {
    row-gap: 20px;
  }

  .max-sm\:rounded-md {
    border-radius: .375rem;
  }

  .max-sm\:text-center {
    text-align: center;
  }
}

@media (max-width: 530px) {
  .max-\[530px\]\:hidden {
    display: none;
  }
}

@media (max-width: 510px) {
  .max-\[510px\]\:h-\[auto\] {
    height: auto;
  }

  .max-\[510px\]\:w-\[50px\] {
    width: 50px;
  }

  .max-\[510px\]\:flex-col {
    flex-direction: column;
  }

  .max-\[510px\]\:gap-y-\[10px\] {
    row-gap: 10px;
  }
}

@media (max-width: 500px) {
  .max-\[500px\]\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 530px) {
  .min-\[530px\]\:hidden {
    display: none;
  }
}

/*# sourceMappingURL=app_globals_css_bad6b30c._.single.css.map*/