@import "tailwindcss";
@theme {
  --breakpoint-sm: 40rem; /*640px*/
  --breakpoint-md: 48.375rem; /*774px*/
  --breakpoint-slg: 65.375rem;/*1046px*/
  --breakpoint-lg: 68.688rem; /*1099.008px*/
  --breakpoint-xl: 78.125rem; /*1250px*/
}

/* body { these are given already by tailwind preflight check docs on:https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/preflight.css
  margin:0; 
  padding:0; 
  box-sizing: border-box; 
} */


body
{
  background-color: white;
  @apply  dark:bg-black;
}
.projectComponent:hover
{
  transition-duration: 2s;
  transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0.9, 0.9);
}

.dot
{
  @apply h-[5px] inline-block w-[5px] bg-black dark:bg-white rounded-[100%];
}
.tech-icon
{
  box-shadow: 0px 0px 5px white ;
}

.theHackContainer
{
  background-image: linear-gradient(to right, rgba(190, 175, 175, 0.322), rgba(50, 50, 80, 0.205)),url("../public/images/my_hackthe_box.png");
}
.borderContainer
{
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-name: borderrMove;
  animation-iteration-count: infinite;
}
@keyframes borderrMove {
  0% {border-top:2px solid red};
  25% {border-right:2px solid red};
  50% {border-bottom:2px solid red};
  100% {border-left:2px solid red};

}
.borderStyle
{
	animation-name: moving-border;
	animation-timing-function: ease-in-out;
	animation-duration:6s;
	will-change: transform;
	transform-origin: center;
	/* animation-delay: 2s; */
	animation-iteration-count: infinite;
}

@keyframes moving-border {
	0% {
		transform:rotate(0deg);
		scale: 1;
	}
	50% {
		transform:rotate(180deg);
		scale: 1.1;
		opacity: 0.8;
	}
	95% {
		scale: 1.1;
		opacity: 1;
	}
	100% {
		transform: rotate(360deg);	
		scale: 0;	
		opacity: 0;
	}
}