
@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/

*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body
{
  background-color: white;
  @apply  dark:bg-black;
}
.projectComponent:hover
{
  transition-duration: 2s;
  transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0.9, 0.9);
}

.dot
{
  @apply h-[5px] inline-block w-[5px] bg-black dark:bg-white rounded-[100%];
}
.tech-icon
{
  box-shadow: 0px 0px 5px white ;
}

.theHackContainer
{
  background-image: linear-gradient(to right, rgba(190, 175, 175, 0.322), rgba(50, 50, 80, 0.205)),url("../public/images/my_hackthe_box.png");
}
.borderContainer
{
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-name: borderrMove;
  animation-iteration-count: infinite;
}
@keyframes borderrMove {
  0% {border-top:2px solid red};
  25% {border-right:2px solid red};
  50% {border-bottom:2px solid red};
  100% {border-left:2px solid red};

}