
@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/

.projectComponent:hover
{
  transition-duration: 2s;
  transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* cubic-bezier(0.15, 1.82, 1.16, 1) */
  transform: scale(0.9, 0.9);
}

  /* .project-cover
  {
    background-image: linear-gradient(to right, rgba(44, 197, 159, 0.568), rgba(0, 134, 128, 0.781));
  } */